<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050717835735-g0n11nfklii43gt6lpn4j0pq4gh26fpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050717835735-g0n11nfklii43gt6lpn4j0pq4gh26fpu</string>
	<key>API_KEY</key>
	<string>AIzaSyAAPunrstuMsJk4Qyiv6cYUSXqbsncZFz8</string>
	<key>GCM_SENDER_ID</key>
	<string>1050717835735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vancouver-Airport-Authority.Maintenance-Corner</string>
	<key>PROJECT_ID</key>
	<string>fir-authentication-e56ce</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authentication-e56ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050717835735:ios:672a4aa802dd171333bb92</string>
</dict>
</plist>